@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Navigation */
a:visited {
  color: #827f8b;
}

a {
  text-decoration: none;
}

/* swap widget css */
.swap-info-paragraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* UTILS */
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}

/* Pool Widget CSS */
.pool-input {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #25222e;
}

/* Stability History Widget CSS */
.history-value {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.history-value .flex {
  width: 100%;
}

/* Apollon Widget CSS */
.apollon-content {
  display: flex;
  gap: 30px;
}

.apollon-table-txt .table-hdng {
  color: #504d59;
  font-weight: 700;
}
.apollon-table-txt th,
.apollon-table-txt td {
  font-size: 14px;
  text-align: right;
  border-bottom: 1px solid #25222e;
  padding: 10px;
}
.apollon-table-txt td {
  padding: 20px 10px;
}
.apollon-table-txt tr:last-child td {
  border-bottom: 0 solid #25222e;
}
