@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* swap widget css */
.swap-info-paragraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swap-block input {
  display: block;
  padding: 10px;
}

/* farm widget css */
.farm-tabs-heading button {
  width: 50%;
  color: #827f8b;
  font-weight: 700;
}
.farm-tabs-tab-content {
  margin-top: 20px;
}
.farm-tabs-heading button.Mui-selected {
  color: #fff;
}
.farm-tabs-heading .MuiTabs-indicator {
  background: #fff;
}
.MuiTabs-flexContainer {
  width: 100%;
  border-bottom: 2px solid #282531;
}
.MuiFormControl-root .MuiInputBase-root.MuiOutlinedInput-root input::placeholder {
  opacity: 1;
}

/* transition widget css */
.tabs-sheet .tab-content th,
.tabs-sheet .tab-content td {
  border-bottom: 2px solid #1e1b27;
  padding: 10px 15px;
}
.tabs-sheet .tab-content td {
  color: #827f8b;
  font-weight: 400;
  font-size: 14px;
}
.tabs-sheet .tab-content tr:last-child td {
  border: 0;
}

.tabs-sheet .farm-tabs-heading button {
  width: auto;
  min-width: auto;
  max-width: 100%;
  margin: 0 15px;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}

/* pool widget css */
.pool-block {
  width: 70%;
}
.liquidity-block {
  width: 30%;
}
.liquidity-block .swap-heading,
.pool-block .swap-heading {
  padding: 10px 20px;
  border-bottom: 2px solid #25222e;
}
.pool-input {
  border-bottom: 2px solid #25222e;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pool-input input {
  padding: 10px 15px;
}
.pool-input input::placeholder {
  color: #504d59;
}
.pool-input-value {
  text-align: right;
}
.liquidity-block .swap-btn {
  padding: 20px;
}
.pool-block-hdng {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.pool-block-hdng .pool-hdng {
  color: #504d59;
}
