@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.swap-block,
.tab-block,
.poolwidget-block {
  margin: 20px;
  border: 2px dashed #9747ff;
  display: block;
  border-radius: 7px;
  padding: 40px;
}
.swap-block {
  max-width: 350px;
}
.poolwidget-block {
  display: flex;
}

/* swap widget css */
.swap-info p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swap-block input {
  display: block;
  padding: 10px;
}
.currency-swap {
  display: flex;
  align-items: center;
}
.swap-info p {
  margin: 10px 0;
}
.swap-info {
  padding: 15px 0;
}
.swap-heading h5 {
  margin: 0;
  display: flex;
  align-items: center;
  line-height: inherit;
}
.swap-btn h6 {
  text-align: center;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}
.swap-heading {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swap-info p span {
  display: flex;
  align-items: center;
}

/* farm widget css */
.farm-tabs-heading button {
  width: 50%;
  color: #827f8b;
  font-weight: 700;
}
.farm-tabs .tab-content {
  margin-top: 20px;
}
.farm-tabs-heading button.Mui-selected {
  color: #fff;
}
.farm-tabs-heading .MuiTabs-indicator {
  background: #fff;
}
.MuiTabs-flexContainer {
  width: 100%;
  border-bottom: 2px solid #282531;
}
.MuiFormControl-root .MuiInputBase-root.MuiOutlinedInput-root input::placeholder {
  opacity: 1;
}

/* transition widget css */
.balance-tab {
  display: flex;
}
.tabs-sheet .tab-content th,
.tabs-sheet .tab-content td {
  border-bottom: 2px solid #1e1b27;
  padding: 10px 15px;
  text-align: right;
}
.tabs-sheet .balance-tab th:nth-child(1),
.tabs-sheet .balance-tab td:nth-child(1),
.tabs-sheet .balance-tab th:nth-child(3),
.tabs-sheet .balance-tab td:nth-child(3) {
  text-align: left;
}
.tabs-sheet .tab-content tr:last-child td {
  border: 0;
}
.tabs-sheet .tab-content th svg {
  position: relative;
  top: 7px;
}
.tabs-sheet .farm-tabs-heading button {
  width: auto;
  min-width: auto;
  max-width: 100%;
  margin: 0 15px;
  padding: 0;
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}
.position-tab th:nth-child(1),
.position-tab td:nth-child(1),
.position-tab th:nth-child(2),
.position-tab td:nth-child(2) {
  text-align: left;
}
.colletral-tab th,
.colletral-tab td,
.position-tab th,
.position-tab td {
  text-align: right;
}
.pie-block {
  width: 40%;
}
.colletral-tab {
  display: flex;
}
.table-block {
  width: 100%;
}
.range-hdng {
  display: flex;
  align-items: center;
  gap: 15px;
}
.range-hdng span {
  color: #1e89da;
}
.range-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.tabs-sheet .tab-content .table-hdng {
  color: #504d59;
  font-weight: 700;
  font-size: 14px;
}
.tabs-sheet .tab-content .table-box {
  background: #282531;
  display: inline-block;
  padding: 1px 5px;
  color: #827f8b;
  font-weight: 700;
  border-radius: 3px;
  font-size: 14px;
}
.tabs-sheet .tab-content td {
  color: #827f8b;
  font-weight: 400;
  font-size: 14px;
}
.tabs-sheet .tab-content .table-wht-txt {
  color: #fff;
}

/* pool widget css */
.pool-block {
  width: 70%;
}
.liquidity-block {
  width: 30%;
}
.liquidity-block .swap-heading,
.pool-block .swap-heading {
  padding: 10px 20px;
  border-bottom: 2px solid #25222e;
}
.pool-input {
  border-bottom: 2px solid #25222e;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pool-input input {
  padding: 10px 15px;
}
.pool-input input::placeholder {
  color: #504d59;
}
.pool-input-value {
  text-align: right;
}
.liquidity-block .swap-btn {
  padding: 20px;
}
.pool-block-hdng {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.pool-block-hdng .pool-hdng {
  color: #504d59;
}
